/__pycache__
/Websockets/jenk

/Websockets/*
/OAuth/First Party/minimum_oauth.py
/OAuth/First Party/modular_oauth_impl.py
/Orders/fastCancel
cp_allFaCombos.py
hmdsScannerParams.xml
ibcpapi.py
market_scanner copy.py
msulli_ws.py
prettyPrint.py
scannerParams.xml
test.py
credentials.json
websocket_to_excel.py